# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Ignore all CSV files
*.csv

# Ignore all models files
*.pth
data/HAM10000_metadata
scripts/__pycache__/SkinLesionClassifier.cpython-310.pyc
